<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">Prueba Técnica 3IT</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="/">Encuesta</a>
            <a class="nav-link" href="/resultado">Resultados</a>
            <a class="nav-link" href="/acercade">Acercade</a>
          </nav>
        </div>
    </header>
<main>

    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Hola 3IT</h1>
          <p class="lead text-muted">Soy Lai, ya hice la prueba técnica, espero que todo calza con lo que Uds. piden, y que yo tenga la oportunidad de entregar mi servicio profesional hacia Uds.</p>
        </div>
      </div>
    </section>
  </main>
</div>